APP_NAME="Deployxa Laravel Starter"
APP_ENV=production
APP_KEY=base64:zZ3Hn19r6QeN8q/4H81qgYpL2y3iU9S9q0KkL4mJ7R4=
APP_DEBUG=false
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=sqlite
